
.headerMainScreen {
  min-height: 100vh;
  background-image: url('../../public/cap.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  color: #fff;
}

.headerLogo {
  width: 150px;
  height: 80px;
}

.headerNav {
  display: flex;
  /* justify-content: space-between; */
  margin: 0 35px;
  
}

.phoneNumbers {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  font-size: 24px;
  transition: all 0.3s;
}

.phoneNumbers a:hover {
  color: #dd3e38;
}


.headerTitle {
  text-align: center;
  max-width: 1100px;
  margin: 350px auto 40px;
  font-size: 42px;
}

.headerTitle span {
  color: #dd3e38;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}